doctype 5
html
  head
    title patrikring.se
    meta(charset="utf-8")
    link(href="/css/main.css", rel="stylesheet")
    
  body

    section
      p
        span.hl Patrik Ring 
        | is a developer who loves the internet, free speech, parkour and 
        = " "
        a(href="http://otterly.teaholoves.me") otters
        | . He's currently working as CTO at
        = " "
        a(href="https://www.bloglovin.com") bloglovin'
        | , where he has an amazing team working with him to take rss to a new level.
      p
        = 'He exists on '
        a(href="https://github.com/ptte") github
        = ", "
        a(href="https://twitter.com/patrikring") twitter
        = " and "
        a(href="mailto:me@patrikring.se") me@patrikring.se

    footer Ideas proudly stolen from / inspired by 
        a(href="http://teaholoves.me") Tea Ho